:root{
    --cor-primaria: ;
    --cor-secundaria: ;
    --cor-terciaria: ;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.to-do {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 50px;
}

.header{
    background-color:  red;
}