:root{
    --cor-primaria: ;
    --cor-secundaria: ;
    --cor-terciaria: ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border box ;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    border: 2px #fff;
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    padding: 150px;
    border-radius: 8px;
    width: 300px;
    
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 0 0 20px;
}
.input-container{
display: flex;
margin-bottom: 20px;
}

input[type="text"]{
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

button{
    padding: 10px;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    color: blueviolet;
    background-color: darkmagenta;
}
button:hover{
    background-color: orangered;
}