:root{
    --cor-primaria: ;
    --cor-secundaria: ;
    --cor-terciaria: ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}
 
h1{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}


.Container {
    margin-top: 40px;
    width: 60%;
}

.new-task{
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}

.insert{
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
}